<div
    style="
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 1rem;
    "
>
    {% for img in include.images %}
    <figure
        style="
            grid-column: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        "
    >
        <a
            target="_blank"
            href="{{img.path}}"
        >
            <div
                class="image-container"
                style="background-image: url({{img.path}});"
            >
                <div class="overlay"></div>
                <img
                    alt="Click to embiggen"
                    src="/images/embiggen.png"
                />
            </div>
        </a>
        <figcaption>{{include.captions[forloop.index0]}}</figcaption>
    </figure>
    {% endfor %}
</div>
