main {
    max-width: 800px;
    padding: 1.5rem;
    margin: 0 auto 1rem;
    background-color: #eff;
    color: #211d1b;
    border-radius: 1rem;
}

body {
    background-color: #211d1b;
    color: #e6e6e6;
}

a {
    color: #ad3273;
}
a:visited {
    color: #ad3273;
}
a:hover {
    color: #ad3273;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

nav a {
    padding: 0.5rem 0.75rem;
    margin: 0 1rem;
    color: #e09c1d;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
nav a:visited {
    color: #e09c1d;
}
nav a:hover {
    color: #e09c1d;
}

li {
    margin-bottom: 0.5rem;
}

h2 {
    border-bottom: 1px solid black;
    margin-top: 2.5rem;
}

div.imgbox {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}
div.imgbox:hover {
    border: 1px solid #000;
}

div.imgbox img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    tr {
        display: flex;
        flex-direction: column;
    }
    tbody {
        display: flex;
    }
}
