---
layout: default
title: catalogue
---

<h1>Photography Catalogue</h1>

<p
    style="
        padding: 0.5rem;
        border: 1px solid #e5a5a5;
        border-radius: 0.25rem;
        box-shadow: inset 0 0 3px #e5a5a5;
        font-size: small;
    "
>
    🚧 Heads up! This is a new project for me, and I'm still in the process of
    organizing hundreds of new and archived photographs, many of which I have
    never identified. There may not be much content yet, but there is much to
    come!
</p>

<p>
    This is my photography catalogue, where I record encounters with many of my
    favorite creatures. Almost all of my photography is so-called
    "macrophotography", meaning high-magnification photos of very small things,
    and my subjects are typically animals of the phylum arthropoda.
</p>

<p>
    I also have a section of photographs taken through a microscope, called
    _photomicrography_. Though confusing, the name is necessary to distinguish
    this technique from microphotography - an alternate, more accurate name for
    macrophotography.
</p>

<h2>Subjects</h2>

<h3><a href="arachnida">Class Arachnida</a> (arachnids)</h3>
<p>
    My most common subject is spiders (order Araneae), although this section
    also contains a handful of subjects from other orders of class Arachnida. I
    convinced myself to overcome a terrible case of arachnophobia when I was
    younger so that I could travel and spend more time in nature. After becoming
    comfortable around spiders, over time I came to feel tremendous respect and
    fascination for them. Because they are badly misunderstood by the public,
    and because there are many resources for spider identification, I now make
    spidering one of my main hobbies. The primary purpose of this catalogue is
    to be a repository for my spider identifications.
</p>

<h3><a href="insecta">Class Insecta</a> (insects)</h3>
<p>
    Before I developed such a deep interest in spiders, I was photographing
    insects. With such tremendous variety in their forms, insects make excellent
    subjects. Indeed some of my favorite animals are hymenoptera (ants, bees,
    and wasps) and coleoptera (beetles). This section is smaller and receives
    fewer updates than arachnida, but contains some of my favorite images. (And,
    for arachnophobic readers, this section may be more enjoyable.)
</p>

<h3><a href="microbes">misc. microbes</a></h3>
<p>
    Photomicrography (taking pictures through a microscope) has its own section,
    because the variety of microbial life one can see in ordinary samples is
    very high, spread across all kingdoms and domains of life. This catalogue
    contains algae, plants, bacteria, animals, fungus, and more.
</p>

<p>
    Because I spend less time with microbes than macroorganisms, it would be
    very difficult to fill out classes, let alone families. In addition, I don't
    have the education or specialized tools & techniques to confidently identify
    many microbes, even to a genus level in many cases. So this catalogue is all
    contained in a single page, rather than separated as arachnids and insects
    are.
</p>

<h2>Equipment</h2>
<p>
    Most of my photos were taken on a Pixel 3 or Pixel 5. Some of those were
    additionally taken through a 10x magnification hand lens - these are
    typically distinguishable by a very shallow focus (where most of the subject
    will be out of focus and the background will have pronounced
    <a
        href="https://en.wikipedia.org/wiki/Bokeh"
        target="_blank"
        rel="noreferrer noopener"
        >bokeh</a
    >).
</p>

<p>
    I recently upgraded with a
    <a
        href="https://www.dpreview.com/reviews/sony-alpha-7-ii"
        target="_blank"
        rel="noreferrer noopener"
        >Sony a7 II</a
    >
    digital camera &
    <a
        href="https://www.dpreview.com/products/sony/lenses/sony_fe_90_2p8_macro_g_oss"
        target="_blank"
        rel="noreferrer noopener"
        >FE 90mm F2.8 Macro G OSS</a
    >
    lens. While the power of the a7 is immediately apparent to me and I've taken
    many photographs impossible for a smartphone, the learning curve is
    significant. No quality guarantees during the learning period.
</p>

<!-- <h2>Recent Identifications</h2>
<ul>
    {% for post in site.categories.photography %}
    <li>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <p>
            {{ post.date | remove: "00:00:00 -0600" }} {% for tag in post.tags
            %} {% if tag == post.tags.last %} {{ tag }} {% else %} {{ tag }}, {%
            endif %} {% endfor %}
        </p>
    </li>
    {% endfor %}
</ul> -->
