---
layout: default
---

<h1>Class: {{page.class}}</h1>

{{content}}

<h2>Catalogue</h2>

{% assign pages = site[page.class] %} {% assign data = site.data[page.class] %}

{% for order_hash in data %}
    {% assign order = order_hash[1] %}
    {% assign orderPages = pages | where_exp:"pg", "pg.order == order.name" %}
    <h3 id="{{order.name}}">Order {{order.name}} ({{order.common}})</h3>
    {% for page in orderPages %}
    <a href="/{{page.permalink}}">Family {{page.family}}</a> ({{page.common}})
    {% endfor %}
{% endfor %}
