<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <meta
            http-equiv="X-UA-Compatible"
            content="ie=edge"
        />
        <title>{{ page.title }} | charcole.cc</title>
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="assets/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="assets/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="assets/favicon-16x16.png"
        />
        <link
            rel="manifest"
            href="assets/site.webmanifest"
        />
        <link
            rel="stylesheet"
            href="assets/main.css"
        />
        <link
            rel="stylesheet"
            href="/styles.css"
        />
    </head>
    <body>
        <nav>
            <a href="/">charcole.cc</a>
            <a href="/charles">about Charles</a>
            <a href="/works">other works</a>
            <a href="/links">more links</a>
        </nav>
        <main>
            {{ content }}
        </main>
    </body>
</html>
