<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ page.title }} | charcole.cc</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Gayathri&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Martel&display=swap"
    />
    <link rel="stylesheet" href="../styles/normalize.css" />
    <link rel="stylesheet" href="../styles/skeleton.css" />
    <link rel="stylesheet" href="../styles/styles.css" />
  </head>
  <body>
    <nav class="container pt">
      <div class="row">
        <h5 class="six columns">
          <a class="primary" href="/">
            <img class="logo" src="/images/goat.png" />
            <span class="hover">charcole</span>.cc
          </a>
        </h5>
        <ul class="twelve columns">
          <li>
            <a href="/bio">
              bio
            </a>
          </li>
          <li>
            <a href="/portfolio">
              portfolio
            </a>
          </li>
          <li>
            <a href="/CharlesOlympiaCole.pdf">
              resume
            </a>
          </li>
          <li>
            <a href="/links">
              links
            </a>
          </li>
        </ul>
      </div>
    </nav>
    {{ content }}
    <footer>
      <div class="position-fixed">
        <small>&nbsp;© Charles Olympia Cole 2019</small>
      </div>
    </footer>
  </body>
</html>
