<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{{ page.title }} | charcole.cc</title>
        <link
            rel="shortcut icon"
            href="/images/favicon.ico"
            type="image/x-icon"
        />
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Gayathri&display=swap"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Martel&display=swap"
        />
        <link rel="stylesheet" href="../styles/normalize.css" />
        <link rel="stylesheet" href="../styles/brutalize.css" />
    </head>
    <body>
        <main>
            <nav>
                <h5>
                    <a class="pink" href="/">
                        <img class="logo" src="/images/goat.png" />
                        <span>charcole</span>.cc
                    </a>
                </h5>
                <ul>
                    <li>
                        <a href="/charles">
                            about Charles
                        </a>
                    </li>
                    <li>
                        <a href="/works">
                            other works
                        </a>
                    </li>
                    <li>
                        <a href="/links">
                            more links
                        </a>
                    </li>
                </ul>
            </nav>
            {{ content }}
            <footer>
                <a href="/LICENSE.html">
                    <small>© 2019 Charles Olympia Cole</small>
                </a>
            </footer>
        </main>
    </body>
</html>
