---
layout: default
---

<h1>{{ page.common }}</h1>

<ul
    role="navigation"
    label="taxonomy"
>
    <li>
        Class: <a href="{{page.class}}">{{page.class | capitalize}}</a>
        <ul>
            <li>
                Order:
                <a href="{{page.class}}#{{page.order}}"
                    >{{page.order | capitalize}}</a
                >
                <ul>
                    {% if page.family %}
                    <li>Family: <b>{{page.family | capitalize}}</b></li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </li>
</ul>

<h2>Description</h2>

{{ content }}

{% assign data = site.data[page.class] %}
<!--  -->
{% for order_hash in data %}
<!--  -->
{% assign order = order_hash[1] %}
<!--  -->
{% if order.name == page.order %}
<!--  -->
{% assign thisFamily = order.families | where_exp:"fam", "fam.name ==
page.family" %}
<!--  -->
{% if thisFamily %}
<!--  -->
{% assign subjectList = thisFamily[0].species | sort: "name" %}
<!--  -->
{% endif %}
<!--  -->
{% assign unidentified = order.unidentified %}
<!--  -->
{% endif %}
<!--  -->
{% endfor %}

{% if subjectList %}
<h2>Species</h2>
<ul>
    {% for subject in subjectList %}
    <li>
        <a href="#{{ subject.id }}">{{ subject.name }}</a> ({{subject.captions |
        size}} images)
    </li>
    {% endfor %}
</ul>
{% endif %}

<div>
    {% for subject in subjectList %}
    <h2 id="{{subject.id}}">{{subject.name}}</h2>

    {% if subject.common %} {% assign name = subject.common %}
    <h3>"{{name}}"</h3>
    {% else %} {% assign name = subject.name %} {% endif %} {% if
    subject.description %}
    <h4>Description</h4>
    <p>{{subject.description}}</p>
    {% endif %} {% if subject.notes %}
    <h4>Notes</h4>
    <p>{{subject.notes}}</p>
    {% endif %} {% if subject.videos %}
    <h3>Videos of {{name}}</h3>
    {% assign videos = subject.videos %}
    <ul>
        {% for video in videos %}
        <li>
            <a
                href="{{video.url}}"
                target="_blank"
                rel="noreferrer noopener"
                >{{video.desc}}</a
            >
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <h3>Images of {{name}}</h3>
    {% assign prefix = subject.imgPrefix %} {% assign imagesId = site.static_files
    | where_exp:"file", "file.name contains prefix" %} {% assign captionsId =
    subject.captions %}
    
    {% include image-gallery.html images=imagesId captions=captionsId %}

    {% if subject.refs %}
    <small>
        <ol>
            {% for ref in subject.refs %}
            <li>{{ref}}</li>
            {% endfor %}
        </ol>
    </small>
    {% endif %}
    {% endfor %}

    {% for subject in unidentified %}
    <h3>Images of {{page.order}}</h3>
    {% assign prefix = subject.imgPrefix %} {% assign imagesUnId = site.static_files
    | where_exp:"file", "file.name contains prefix" %} {% assign captionsUnId =
    subject.captions %}

    {% include image-gallery.html images=imagesUnId captions=captionsUnId %}
    
    {% endfor %}
</div>
