---
layout: default
---

<h1>{{ page.common }}</h1>

<ul role="navigation" label="taxonomy">
    <li>
        Class: <a href="{{page.class}}">{{page.class | capitalize}}</a>
        <ul>
            <li>
                Order: <a href="{{page.class}}#{{page.order}}">{{page.order | capitalize}}</a>
                <ul>
                    <li>Family: <b>{{page.family | capitalize}}</b></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

<h2>Description</h2>

{{ content }}

<h2>Species</h2>

{% assign data = site.data[page.class] %}
{% for order_hash in data %}
    {% assign order = order_hash[1] %}
    {% if order.name == page.order %}
        {% assign thisFamily = order.families | where_exp:"fam", "fam.name == page.family" %}
        {% assign subjectList = thisFamily[0].species | sort: "name" %}
    {% endif %}
{% endfor %}

<ul>
    {% for subject in subjectList %}
    <li><a href="#{{ subject.id }}">{{ subject.name }}</a> ({{subject.captions | size}} images)</li>
    {% endfor %}
</ul>
<div>
    {% for subject in subjectList %}
    <h2 id="{{subject.id}}">{{subject.name}}</h2>

    {% if subject.common %} {% assign name = subject.common %}
    <h3>"{{name}}"</h3>
    {% else %} {% assign name = subject.name %} {% endif %}

    {% if subject.description %}
    <p>{{subject.description}}</p>
    {% endif %}

    {% if subject.videos %}
    <h3>Videos of {{name}}</h3>
    {% assign videos = subject.videos %}
    <ul>
        {% for video in videos %}
        <li>
            <a
                href="{{video.url}}"
                target="_blank"
                rel="noreferrer noopener"
                >{{video.desc}}</a
            >
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <h3>Images of {{name}}</h3>
    {% assign prefix = subject.imgPrefix %} {% assign images = site.static_files |
    where_exp:"file", "file.name contains prefix" %} {% assign captions =
    subject.captions %}
    <div
        style="
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-gap: 1rem;
        "
    >
        {% for img in images %}
        <figure
            style="
                grid-column: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
            "
        >
            <a
                target="_blank"
                href="{{img.path}}"
            >
                <div
                    class="image-container"
                    style="background-image: url({{img.path}});"
                >
                    <div class="overlay"></div>
                    <img
                        alt="Click to embiggen"
                        src="/images/embiggen.png"
                    />
                </div>
            </a>
            <figcaption>{{captions[forloop.index0]}}</figcaption>
        </figure>
        {% endfor %}
    </div>
</div>
{% endfor %}
