body {
  background-image: url(../images/adrien-olichon-VzRKG0piEp8-unsplash.jpg);
  background-repeat: no-repeat;
  color: #fccbad;
}

main.container {
  padding-top: 10rem;
}

.position-fixed {
  position: fixed;
  bottom: 0;
}

.vh1 {
  height: 1vh;
}

.mt-10 {
  margin-top: 10rem;
}

p.mx-auto {
  margin-left: auto;
  margin-right: auto;
  max-width: 767px;
}

.text-center {
  text-align: center;
}

.text-large {
  font-size: 1.75rem;
  line-height: 2rem;
}

.primary {
  color: #e35666;
}

.pt {
  padding-top: 1em;
}

.pb {
  padding-bottom: 1em;
}

nav {
  border-bottom: 1px solid #e35666;
  box-shadow: 0 1px #eddebb;
}

nav a {
  text-decoration: none;
}

nav a.primary:hover .hover {
  color: #cc3666;
}

nav h5 {
  margin: 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Martel';
  font-weight: bold;
  justify-content: space-evenly;
  margin: 0.5rem 0 1rem;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  margin-left: -0.5rem;
}

nav .logo {
  height: 1em;
  position: relative;
  top: 0.15em;
}

.hamburger {
  border-bottom: 0.2em solid #eddebb;
  border-top: 0.2em solid #eddebb;
  display: inline-block;
  height: 0.8em;
  margin-right: 0.3em;
  position: relative;
  width: 1.25em;
}

.hamburger:before {
  border-top: 0.2em solid #eddebb;
  content: '';
  left: 0px;
  position: absolute;
  top: 0.3em;
  width: 100%;
}

@media (min-width: 767px) {
  .hamburger {
    display: none;
  }
}
