body {
  background-image: url(../images/adrien-olichon-VzRKG0piEp8-unsplash.jpg);
  background-repeat: no-repeat;
  color: #fbefbf;
}

main.container {
  padding-top: 10rem;
}

.position-fixed {
  position: fixed;
  bottom: 0;
}

.vh1 {
  height: 1vh;
}

main#index .row p {
  margin-top: 3.14rem;
  margin-bottom: 3.14rem;
}

p.mx-auto {
  margin-left: auto;
  margin-right: auto;
  max-width: 767px;
}

.text-center {
  text-align: center;
}

.container p {
  font-size: 1.8rem;
}

.text-bold {
  font-weight: bold;
}

.serif {
  font-family: 'Martel', serif;
}

.primary {
  color: #e35666;
}

.pt {
  padding-top: 1em;
}

.pb {
  padding-bottom: 1em;
}

nav {
  border-bottom: 1px solid #e35666;
  box-shadow: 0 1px #fbefbf;
}

nav a {
  text-decoration: none;
}

nav a.primary:hover .hover {
  color: #cc3666;
}

nav h5 {
  margin: 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Martel';
  font-weight: bold;
  justify-content: space-evenly;
  margin: 0.5rem 0 1rem;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  margin-left: -0.5rem;
}

nav .logo {
  height: 1em;
  position: relative;
  top: 0.15em;
}

nav .hamburger {
  border-bottom: 0.2em solid #eddebb;
  border-top: 0.2em solid #eddebb;
  display: inline-block;
  height: 0.8em;
  margin-right: 0.3em;
  position: relative;
  width: 1.25em;
}

nav .hamburger:before {
  border-top: 0.2em solid #eddebb;
  content: '';
  left: 0px;
  position: absolute;
  top: 0.3em;
  width: 100%;
}

footer small {
  opacity: 0.67;
}

h3 {
  max-width: 46.2rem;
  margin: 0 auto 3.14rem;
}

#bio {
  min-height: 10rem;
  height: calc(100vh - 95px);
  position: relative;
  top: 1px;
  background: linear-gradient(
    rgba(1, 1, 1, 1),
    rgba(1, 1, 1, 1),
    rgba(2, 2, 2, 0.9),
    rgba(3, 3, 3, 0.8),
    rgba(5, 5, 5, 0.2),
    rgba(8, 8, 8, 0.1),
    rgba(13, 13, 13, 0),
    rgba(21, 21, 21, 0)
  );
  padding: 3rem 1rem 0;
}

#bio p {
  margin-bottom: 3rem;
}

@media (min-width: 767px) {
  .hamburger {
    display: none;
  }

  #bio {
    padding: 5.12rem 0 0;
  }
}
