body {
  background-image: url(../images/adrien-olichon-VzRKG0piEp8-unsplash.jpg);
  /* background-position: center; */
  /* background-size: cover; */
  background-repeat: no-repeat;
  color: #f7eccd;
}

main.container {
  padding-top: 10rem;
}

.position-fixed {
  position: fixed;
  bottom: 0;
}

.vh1 {
  height: 1vh;
}

.mt-10 {
  margin-top: 10rem;
}

p.mx-auto {
  margin-left: auto;
  margin-right: auto;
  max-width: 767px;
}

.text-center {
  text-align: center;
}

.text-large {
  font-size: 1.75rem;
  line-height: 2rem;
}

.horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.horizontal li {
  margin: 0;
  min-width: 8.5rem;
  padding-left: 0.5rem;
}

.primary {
  color: #e34d5e;
}

.pt {
  padding-top: 1em;
}

.pb {
  padding-bottom: 1em;
}

nav {
  border-bottom: 1px solid #f7eccd;
}

nav h5 {
  margin: 0;
}

nav a {
  text-decoration: none;
}

nav ul {
  margin: 0.5rem 0 1rem;
}

.hamburger {
  position: relative;
  display: inline-block;
  width: 1.25em;
  height: 0.8em;
  margin-right: 0.3em;
  border-top: 0.2em solid #f7eccd;
  border-bottom: 0.2em solid #f7eccd;
}

.hamburger:before {
  content: '';
  position: absolute;
  top: 0.3em;
  left: 0px;
  width: 100%;
  border-top: 0.2em solid #f7eccd;
}

@media (min-width: 767px) {
  .hamburger {
    display: none;
  }
}
